extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  else
    p You are currently logged in as #{user.username}
    a(href="/ores") Take me to ores
    br
    a(href="/logout") Logout
