h1 {
  color: brown;
  padding: 5%;
  padding-bottom: 0%;
}

body {
  padding: 4px; 
  font: 14px cursive; 
}

a {
  color: #7c6e00;
}

.oresAttr {
  background-color: burlywood; 
  font-family: cursive;
  width: 150px; 
  border: 1px solid rgb(37, 35, 0); 
  margin: 2%;
  color: black; 
  font-weight: bold; 
}